#display
{
    height: 60px;
    width: 450px;
    margin-left: 300px;
    margin-top: 80px;
    margin-bottom: 20px;
    border-radius: 4%;
}
.calc-buttons
{
    height: 100px;
    width: 100px;
    padding: 0%;
    border-radius: 50px;
    border: none;
    background-color: rgb(67, 67, 66);
    color: rgb(201, 187, 187);
    font-family: cursive;
    font-weight: 500;
}

#row-one, #row-two, #row-three, #row-four, #row-five 
{
    margin-top: 10px;
    margin-left: 350px;
}
#C-button, #DEL-button, #percentage-button, #division-button
{
    color: rgb(128, 254, 2);
    background-color: rgb(96, 96, 95);
}
#C-button
{
    color: rgb(235, 94, 94);
}