#game-title
{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

body
{
    background-color: rgb(61, 61, 61);
}

.move-button
{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(26, 164, 19);
    border-radius: 100%;
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    color: rgb(26, 164, 19);
    background-color: rgb(61, 61, 61);
    font-family: system-ui, 'Segoe UI';
    text-decoration: none;
    font-weight: 900;
    transition: all 0.3s ease;
}

.move-button:hover
{
    background-color: rgb(26, 164, 19);
    color: antiquewhite;
}

#game-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#scores-heading
{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-logo
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 120px;
    border-radius: 10%;
}

#game-moves{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    font-size: 40px;
}
#game-results{
    margin-left: 600px;
    margin-right: 550px;
    font-size: 30px;
}

#game-results, #game-moves{
    color: antiquewhite;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scores{
    color: antiquewhite;
    font-family: 'Segoe UI';
    font-size: 2.5rem;
    font-weight: 900;
}

.score-headers{
    color: antiquewhite;
    font-family: system-ui, 'Segoe UI';
    font-weight: 600;
    font-size: 1.2rem;
}

#headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 0;
}

#scores-group{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}