body{
    background-color: rgb(55, 55, 55);
    background: radial-gradient(circle at top, #444, #1f1f1f);
}
.calculator-display
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(40, 39, 39);
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;
    height: 650px;
    box-shadow: 10px;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 20px;
}

#display
{
    height: 60px;
    width: 420px;
    margin-left: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calc-buttons
{
    height: 90px;
    width: 90px;
    padding: 0%;
    border-radius: 50px;
    border: none;
    background-color: rgb(70, 70, 70);
    color: rgb(201, 187, 187);
    font-family: cursive;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 5px;
}
#C-button, #DEL-button, #percentage-button, #division-button, #addition-button, #subtraction-button, #multiplication-button
{
    color: rgb(128, 254, 2);
    background-color: rgb(96, 96, 95);
}
#C-button
{
    color: rgb(235, 94, 94);
}
#display{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 40px;
}
#equals-button{
    background-color: rgb(128, 254, 2);
    color: rgb(67, 67, 67);
}